<div class="modal fade" id="joinLeagueModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="teamName" class="col-form-label">Team Name:</label>
                        <input type="text" class="form-control" id="teamName">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="joinLeagueButton" type="button" data-bs-dismiss="modal" class="btn btn-primary">Join <span id="modalLeagueName"></span></button>
            </div>
        </div>
    </div>
</div>

<div>
    <input type="hidden" id="userId" value="{{session.userId}}">
    <h1>Leagues</h1>
    <a href="addLeague">Make your own</a>
    <div>
        {{#each leagues}}
            <div class="row">
                <div class="col-4">{{name}}</div>
                <div class="col-4">{{owner.firstName}} {{owner.lastName}}</div>
                <div class="col-4">
                    {{#if inLeague}}
                        <button type="button" data-league-id="{{leagueId}}" class="btn btn-secondary" >View</button>
                    {{else}}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinLeagueModal" data-league-id="{{leagueId}}" data-league-name="{{name}}">Join League</button>
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </div>
    <h1>Teams</h1>
    <table>
        {{#each teams}} 
            <div class="row">
                <div class="col-4">{{name}}</div>
                <div class="col-4">{{league.name}}</div>
                <div class="col-4"><a href="team/{{teamId}}"><div class="btn btn-primary">Go To Team</div></a></div>
            </div>
        {{/each}}
    </table>
</div>
<script src="/javascript/home.js"></script>