

{{#if users.length}}

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each users as |user|}}
        <tr>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.userType.display}}</td>
            <td>{{user.userStatus.display}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/if}}